@font-face {
  font-family: "Gotham-Book";
  src: url("gotham-book.woff2") format("woff2"),
    url("gotham-book.woff") format("woff");
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("gotham-medium.woff2") format("woff2"),
    url("gotham-medium.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gotham-Medium", Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

.email-template-container {
  position: relative;
  padding: 32px 20px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: rgba(150, 171, 64, 0.4);
}

.email-template__card {
  position: relative;
  max-width: 600px;
  min-width: 320px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 8px;
}

.card__header {
  padding: 20px 32px;
  background: rgba(220, 227, 191, 0.4);
  border-radius: 8px 8px 0px 0px;
}

.card__body {
  padding: 52px 64px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.006em;
  color: #2c2d2e;

  font-family: "Gotham-Book";
  font-weight: 200;
  letter-spacing: -0.006em;
}

.card__body p {
  margin-bottom: 32px;
}

.body__inner-container {
  text-align: center;
}

.body__call-to-action {
  margin: 0 auto;
  color: #418c51;
  text-decoration: none;
}

.card__body button {
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
  margin-top: 70px;
  color: #ffffff;
  background: #418c51;
  border: 1px solid #418c51;
  border-radius: 8px;
  cursor: pointer;

  text-align: center;
  font-family: "Gotham-Medium";
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.011em;
}

.card__body {
  padding: 52px 64px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.006em;
  color: #2c2d2e;
}

.card__footer {
  width: 100%;
  height: 132px;
  padding: 0 64px;
  padding-bottom: 64px;

  font-size: 12px;
  line-height: 28px;
  text-align: center;
  color: #2c2d2e;
}

.card__footer a {
  color: #96ab40;
}

.card__footer .footer__copyright {
  font-family: "Gotham-Book";
  color: #6d7074;
}

@media (max-width: 768px) {
  .card__header {
    padding: 10px 16px;
  }
  .card__body {
    padding: 24px;
  }

  .card__body button {
    padding: 8px 16px;
    margin-top: 32px;

    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.006em;
  }
}
